<footer class="bottom-0 footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
        <span class="d-flex">
        <p class="col-md-4 mb-0 w-25 text-body-secondary m-auto">© 2023, <br>Никифоров Никита</p>
        <ul class="nav col-md-4 justify-content-end m-auto">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item"><a href="https://github.com/jugern" class="nav-link px-2 text-body-secondary">Гитхаб</a></li>
            <li class="nav-item"><a href="https://cheboksary.hh.ru/resume/5265cbcfff064a0b630039ed1f53455a334f69" class="nav-link px-2 text-body-secondary">О мне</a></li>
        </ul>
        </span>
    </div>
</footer>

