{% load price %}
<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-3 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a id="" href="/" class="nav-link px-2 text-light headers-link">Главная</a></li>
            <li><a id="" href="{% url 'items' %}" class="nav-link px-2 text-light headers-link">Все товары</a></li>
            <li><a id="" href="{% url 'order-buy' %}" class="nav-link px-2 text-light headers-link">Корзина</a></li>
            <li class="border-white"><p id="header_price" class="nav-link px-2 text-green headers-link">0.00</p></li>
        </ul>
    </div>
</div>
