{% extends "index.html" %}
{% load static %}

{% block title %}Accept a payment{% endblock %}
{% block CssJs %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const context = {
            'STRIPE_PUBLIC_KEY': '{{ STRIPE_PUBLIC_KEY }}',
            'url': '{{ url }}',
        };
    </script>
    <script src="{% static 'stripe/js/checkout.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="checkout" class="">
            <section>
                <div class="d-flex justify-content-center product">
                    {% csrf_token %}
                    <img class='' src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
                    <div class="description">
                        <h3>{{ item.name }}</h3>
                        <h5 class="col-2">${{ item.price }}</h5>
                        <button class="col" type="submit" id="checkout-button">Купить</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

